*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.75), rgba(4, 9, 30, 0.75)), url(images/Rede-de-computadores.jpg);
    background-size: cover;
    background-position: center;
}

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 10%;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}
.nav-links ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #ffffff;
    display: block;
    margin: auto;
    left: 0;
    position: absolute;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color:#ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box  h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.hero-btn:hover{
    border: 1px solid #002d29;
    background: #002d29;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box  h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0f2a53;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        top: 10px;
        right: 10px;
        position: absolute;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    
    .nav-links ul{
        padding: 30px;
    }
}

/*----publicacoes----*/
.publicacoes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 31%;
    background: #d3e2ed;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* -------------- projetos ----------- */

.projetos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;   
}
.projetos-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.projetos-col img{
    width: 100%;
    display: block;
}
.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #4b9ccfb3;

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*---------- equipe ----------*/

.equipe{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.equipe-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
}
.equipe-col:nth-child(1,2){
    flex-basis: 20%;
}
.equipe-col img{
    width: 250px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}
.equipe-col p{
    padding: 0;
}
.equipe-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/*---------------- Institutions -----------------*/

.institutions{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.institutions h3{
    color:#767676;
}
.inst-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.inst-col{
    flex-basis: 15%;
    
    margin-bottom: 5%;
    padding: 20px;
    position: relative;
}
.inst-col button{
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.inst-col img{
    max-height: 160px;
    max-width: 250px;
    display: flex;
}
.inst-col button:hover{
    transform: scale(1.1);
    z-index: 2;
}


/*-------------- Footer -----------------------*/

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #002d29);
    color: #fff;
    padding: 70px 0 20px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.footer-row{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col{
    flex-basis: 25%;
    padding: 10px;
}
.footer-col:nth-child(2){
    flex-basis: 15%;
}
.footer-col:nth-child(3){
    flex-basis: 10%
}
.logo{
    width: 200px;
    margin-bottom: 20px;
}

.footer-col h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.footer-col p{
    width: fit-content;
    color: #ccc;
    position:relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .fa{
    font-size: 18px;
    margin-right: 10px; 
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fa{
    width: 50px;
    font-size: 40px;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.social-icons .fa:hover{
    transform: scale(1.3);
    z-index: 2;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .footer-col{
        flex-basis: 100%;
    }
    .footer-col:nth-child(2), .footer-col:nth-child(3){
        flex-basis: 100%;
    }
}